#################
## LaTeX
#################
*.aux
*.toc
*.out
*.log
*.synctex.gz

#################
## Autres
#################
*.avi
07_Etude_Systemes_Mecaniques_Analyser_Concevoir_Realiser\Realiser\01_Materiaux\Cours\PPT\PPM-Materiaux\*
Composites.pdf
Designation-materiaux.ppt
Elaboartion-Acier.mp4
Elaboration-Alu.avi
Materiaux.pptx
Plastiques.ppt